// #D0CE7C - Straw
// #cf995f - Camel
// #dbad6a - Earth Yellow
// #96897b - Middle Grey
// #628395 - Slate Grey

$mainColor: #dbad6a;
$accentColor: #628395;
$midTone: #96897b;
$midToneTwo: #cf995f;
$accentColorTwo: #d0ce7c;
