// #D0CE7C - Straw
// #cf995f - Camel
// #dbad6a - Earth Yellow
// #96897b - Middle Grey
// #628395 - Slate Grey

$mainColor: #dbad6a;

$midTone: #96897b;
$midToneTwo: #cf995f;
$accentColorTwo: #d0ce7c;

// new palette

// elements

// $: #eaddcf;

// icons
// $icon-stroke: #020826;
// $icon-secondary: #eaddcf;
// $icon-tertiary: #f25042;
// $icon-highlight: #8c7851;

// actual colours used
$background: #fffffe;
$background-card: #628395;
$background-card-hover: #d0ce7c;
$background-card-shadow: #cf995f;
$heading: #020826;

$link-focus: #c97b84;
