@use "palette";

// commonly used variables
$border: 2px solid palette.$background-card;
$border-hover: 2px solid palette.$background-card-hover;
$border-img: 10px solid palette.$background;
$border-img-phone: 5px solid palette.$background;

// mixins - consolidates to the same element
@mixin flex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

@mixin menu {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 15px;
    margin: 10px;
}

@mixin line-height {
    line-height: 20px;
}

@mixin relative {
    position: relative;
}

@mixin background-gradient {
    background: #134e5e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #71b280,
        #134e5e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #71b280,
        #134e5e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// umbrella css
html {
    scroll-behavior: smooth;
    background-color: palette.$background;
}

* {
    font-family: "PT Mono", monospace;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    text-decoration: none;
    color: palette.$heading;
    font-weight: bold;
}

p {
    font-family: "Karla", sans-serif;
}

// BEM styling
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: palette.$background;

    min-height: 8vh;
    letter-spacing: 3px;

    &__logo {
        padding: 30px;
    }

    #checkbox {
        display: none;
    }

    .button {
        display: none;
    }

    &__menu {
        @include flex;
    }

    &__menu-item {
        @extend .nav-bar__menu-item;
        @include menu;
        @include relative;

        border-radius: 10px;
    }

    &__menu-item:hover {
        background-color: palette.$background-card;
        color: palette.$background;
        box-shadow: 2px 2px palette.$background-card-shadow;
    }

    &__menu-item:focus-within {
        background-color: palette.$background-card-shadow;
    }
}

.section {
    padding: 100px 25px;
    height: auto;
    margin: auto;

    &__title {
        font-size: x-large;
        text-align: center;
        letter-spacing: 3px;
        padding-bottom: 15px;
    }
}

.landing {
    @include flex;
    // background-color: palette.$background-card;

    @include background-gradient();

    height: 80vh;
    align-items: center;
    text-align: center;
    color: palette.$background;

    &__content-para {
        padding: 3px;
    }

    p {
        font-family: "PT Mono", monospace;
    }
}

.about-me {
    &__content {
        @include flex;
    }

    &__img {
        margin: 30px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    &__text {
        @include line-height;
        @include flex;
        max-width: 600px;

        p {
            padding-bottom: 25px;
        }
    }
}

.tech-stack {
    background-color: palette.$background-card;
    color: palette.$background;

    .tech-gallery {
        @include flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .tech-item {
        margin: 10px 30px 20px 10px;
        font-size: 15px;

        &__icon {
            padding-bottom: 10px;
        }
    }
}

.project {
    .project-content {
        @include flex;
    }

    &__item {
        position: relative;

        border: $border;
        border-radius: 20px;
        background-color: palette.$background-card;
        max-width: 350px;

        padding: 40px 20px 20px 20px;
        margin: 20px;

        h4 {
            color: palette.$background;
        }

        p {
            @extend h4;
        }

        a {
            @extend h4;
        }

        img {
            border: $border-img;
            display: block;
            margin: auto;
        }
    }

    &__item:hover {
        top: -15px;

        background-color: palette.$background-card-hover;
        border: $border-hover;
        box-shadow: 7px 7px palette.$background-card-shadow;

        h4 {
            color: palette.$heading;
        }

        p {
            @extend h4;
        }

        a {
            @extend h4;
        }
    }

    &__text {
        @include line-height;
        text-align: center;
        margin: 20px;

        .project__text-title {
            font-size: large;
            padding: 10px 0px;
        }
    }

    &__footer {
        @include flex;
        padding: 15px;

        a {
            @include relative;
            padding: 15px;
        }

        a:hover {
            color: palette.$background;
        }

        a:focus {
            color: palette.$heading;
            top: 3px;
        }
    }
}

.footer {
    // background-color: palette.$background-card;
    @include background-gradient();
    color: palette.$background;

    text-align: center;

    h2 {
        padding: 20px;
    }

    &--contacts-icons {
        @include flex;

        li {
            padding: 10px;
        }

        a {
            @include relative;
            font-size: x-large;
            color: palette.$background;
        }

        a:hover {
            color: palette.$background-card-hover;
            text-shadow: 2px 2px palette.$background-card-shadow;
            top: -5px;
        }

        a:focus {
            color: palette.$background-card-shadow;
        }
    }

    p {
        font-family: "PT Mono", monospace;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        #checkbox:checked ~ .nav-bar__menu {
            display: block;
            margin-top: 60px;
        }
        .button {
            display: contents;
            font-size: 40px;
            color: palette.$background-card;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1vh;
        }

        #checkbox:checked ~ .button {
            color: palette.$background-card-hover;
            text-shadow: 2px 2px palette.$background-card-shadow;
            display: block;
            padding: 10px;
        }

        &__menu {
            display: none;
        }

        &__menu-item {
        }
    }

    .section {
        &__title {
            padding-bottom: 30px;
        }
    }

    .about-me {
        margin: 15px;
        font-size: 14px;
    }

    .project {
        &__item {
            position: relative;
            max-width: 300px;

            padding: 20px 20px 20px 20px;
            margin: 20px;
            img {
                height: 280px;
                width: 260px;
                display: block;
                margin: auto;
                border: $border-img-phone;
            }

            p {
                display: none;
            }

            a {
                display: none;
            }
        }

        &__item:hover {
            p {
                display: contents;
            }
            a {
                display: contents;
                @include flex();
                padding: 15px;
            }
        }
    }

    .tech-stack {
        &__icon {
            font-size: 15px;
        }
    }
}
