html {
  scroll-behavior: smooth;
  background-color: #fffffe;
}

* {
  font-family: "PT Mono", monospace;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #020826;
  font-weight: bold;
}

p {
  font-family: "Karla", sans-serif;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fffffe;
  min-height: 8vh;
  letter-spacing: 3px;
}
.nav-bar__logo {
  padding: 30px;
}
.nav-bar #checkbox {
  display: none;
}
.nav-bar .button {
  display: none;
}
.nav-bar__menu {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.nav-bar__menu-item {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 15px;
  margin: 10px;
  position: relative;
  border-radius: 10px;
}
.nav-bar__menu-item:hover {
  background-color: #134e5e;
  color: #fffffe;
  box-shadow: 2px 2px #cf995f;
}
.nav-bar__menu-item:focus-within {
  background-color: #cf995f;
}

.section {
  padding: 100px 25px;
  height: auto;
  margin: auto;
}
.section__title {
  font-size: x-large;
  text-align: center;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

.landing {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #71b280, #134e5e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #71b280, #134e5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 80vh;
  align-items: center;
  text-align: center;
  color: #fffffe;
}
.landing__content-para {
  padding: 3px;
}
.landing p {
  font-family: "PT Mono", monospace;
}

.about-me__content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.about-me__img {
  margin: 30px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.about-me__text {
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}
.about-me__text p {
  padding-bottom: 25px;
}

.tech-stack {
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #71b280, #134e5e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #71b280, #134e5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fffffe;
}
.tech-stack .tech-gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
.tech-stack .tech-item {
  margin: 10px 30px 20px 10px;
  font-size: 15px;
}
.tech-stack .tech-item h4, .tech-stack .tech-item .project__item a, .project__item .tech-stack .tech-item a, .tech-stack .tech-item .project__item p, .project__item .tech-stack .tech-item p {
  font-weight: 400;
}
.tech-stack .tech-item__icon {
  padding-bottom: 10px;
}

.project .project-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.project__item {
  position: relative;
  border: 2px solid #134e5e;
  border-radius: 20px;
  background-color: #134e5e;
  max-width: 350px;
  padding: 40px 20px 20px 20px;
  margin: 20px;
}
.project__item h4, .project__item:hover a, .project__item:hover p, .project__item a, .project__item p {
  color: #fffffe;
}
.project__item img {
  border: 10px solid #fffffe;
  display: block;
  margin: auto;
}
.project__item:hover {
  top: -15px;
  background-color: #71b280;
  border: 2px solid #71b280;
  box-shadow: 7px 7px #cf995f;
}
.project__item:hover h4, .project__item:hover a, .project__item:hover p {
  color: #020826;
}
.project__text {
  line-height: 20px;
  text-align: center;
  margin: 20px;
}
.project__text .project__text-title {
  font-size: large;
  padding: 10px 0px;
}
.project__footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 15px;
}
.project__footer a {
  position: relative;
  padding: 15px;
}
.project__footer a:hover {
  color: #fffffe;
}
.project__footer a:focus {
  color: #020826;
  top: 3px;
}

.footer {
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #71b280, #134e5e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #71b280, #134e5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fffffe;
  text-align: center;
}
.footer h2 {
  padding: 20px;
}
.footer--contacts-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.footer--contacts-icons li {
  padding: 10px;
}
.footer--contacts-icons a {
  position: relative;
  font-size: x-large;
  color: #fffffe;
}
.footer--contacts-icons a:hover {
  color: #71b280;
  text-shadow: 2px 2px #cf995f;
  top: -5px;
}
.footer--contacts-icons a:focus {
  color: #cf995f;
}
.footer p {
  font-family: "PT Mono", monospace;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .nav-bar #checkbox:checked ~ .nav-bar__menu {
    display: block;
    margin-top: 60px;
    transition: ease-in;
  }
  .nav-bar .button {
    display: contents;
    font-size: 45px;
    color: #134e5e;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1vh;
  }
  .nav-bar #checkbox:checked ~ .button {
    color: #71b280;
    text-shadow: 2px 2px #cf995f;
    display: block;
    padding: 10px;
  }
  .nav-bar__menu {
    display: none;
  }
  .nav-bar__menu-item li {
    font-size: 50px;
  }
  .section__title {
    padding-bottom: 30px;
  }
  .about-me {
    margin: 15px;
    font-size: 14px;
  }
  .project__item {
    position: relative;
    max-width: 300px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
  }
  .project__item img {
    height: 280px;
    width: 260px;
    display: block;
    margin: auto;
    border: 5px solid #fffffe;
  }
  .project__item p {
    display: none;
  }
  .project__item a {
    display: none;
  }
  .project__item:hover p {
    display: contents;
  }
  .project__item:hover a {
    display: contents;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 15px;
  }
  .tech-stack__icon {
    font-size: 15px;
  }
}
