@use "palette";

// commonly used variables for planning and seeing where and how elements move
$border: 2px solid black;
$border-secondary: 2px solid blue;
$border-tertiary: 2px solid green;

// mixins
@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-justify-align-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

// css stuff starts here
* {
    font-family: "PT Mono", monospace;
}

.nav-bar {
    justify-content: space-between;
    @include flex-wrap;

    &__logo {
        display: flex;
        padding: 0px 20px 0px 20px;
    }

    &__list {
        list-style-type: none;
        justify-content: flex-end;
        @include flex-wrap;
    }

    &__menu-item {
        padding: 15px 15px;

        a {
            text-decoration: none;
        }

        a:hover {
            font-weight: bolder;
            text-shadow: 5px 5px 5px palette.$midTone;
        }

        a:active {
            color: palette.$accentColor;
        }

        a:visited {
            color: palette.$midToneTwo;
        }
    }
}

.section {
    padding: 100px 25px;
    height: auto;
    margin: auto;

    &__title {
        font-weight: bold;
        text-align: center;
    }
}

.landing {
    @include flex-center;
    height: 500px;
    align-items: center;
    text-align: center;
}

.about-me {
    &__content {
        @include flex-center;
        flex-wrap: wrap;
    }

    &__img {
        margin: 30px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    &__text {
        margin: 0px 10px;
        max-width: 600px;
        line-height: 15pt;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.tech-stack {
    .tech-gallery {
        @include flex-justify-align-center;
        flex-wrap: wrap;
        margin-top: 50px;

        .tech-item {
            display: flex;

            margin-top: 30px;
            margin-left: 20px;

            h4 {
                line-height: 5px;
            }

            &__icon {
                margin-right: 15px;
            }
        }
    }
}

.project {
    max-width: max-content;

    .project-content {
        @include flex-wrap;
        justify-content: center;
    }
    &__item {
        width: 300px;
        padding: 30px;
        border-radius: 20px;
        margin: 30px;

        box-shadow: palette.$midTone 0px 20px 45px -15px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

        img {
            display: block;
            margin: auto;
        }
    }

    &__item:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    &__text {
        text-align: center;
        margin: 10px;
        line-height: 15pt;
    }

    &__footer {
        @include flex-justify-align-center;

        .project-code-btn {
            border-radius: 25px;
            width: 40px;
            margin: 10px;
        }

        .project-code-btn:hover {
            width: 70px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 30px -12px inset,
                rgba(0, 0, 0, 0.3) 0px 9px 19px -9px inset;
        }

        .icon {
            @include flex-center;
            padding: 10px;
        }
    }
}

.footer {
    &--title {
        text-align: center;
        font-size: larger;
        font-weight: bold;
    }

    &--para {
        text-align: center;
    }

    &--nav {
        @include flex-center;

        &__list {
            list-style-type: none;
            display: flex;
            padding: 0;
        }

        &__list-item {
            margin: 0px 15px;
            float: left;
        }
    }
}
