* {
    font-family: "PT Mono", monospace;
    background-color: #f7ede2;
}

.nav-bar {
    display: flex;
    justify-content: space-between;

    &__logo {
        display: flex;
        padding: 0px 0px 0px 20px;
    }

    &__list {
        list-style-type: none;
        display: flex;
    }

    &__menu-item {
        padding: 0px 15px;
    }
}

.section {
    padding: 100px 25px;
    height: auto;
    margin: auto;

    &__title {
        font-weight: bold;
        text-align: center;
    }
}

.landing {
    height: 500px;
    display: flex;
    &__content {
    }
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me {
    &__content {
        display: flex;
        justify-content: center;
    }

    &__img {
        padding: 20px;
    }

    &__text {
        padding: 0px 10px;
        max-width: 500px;
    }
}

.tech-stack {
    &__gallery {
        display: flex;
        justify-content: center;

        .icon {
            margin: 0px 15px;
        }

        ul {
            display: flex;
            list-style-type: none;
        }
    }
}

.project {
    .project-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__item {
        background-color: #f6bd60;
        max-width: 360px;
        padding: 30px;
        border-radius: 20px;
        margin: 15px;
        img {
            display: block;
            margin: auto;
            border: 5px solid white;
        }
    }

    &__text {
        text-align: center;
        margin: 10px;
    }

    &__footer {
        display: flex;
        justify-content: center;

        .icon {
            display: flex;
            padding: 10px;
        }
    }
}

.footer {
    &--title {
        text-align: center;
        font-size: larger;
        font-weight: bold;
    }

    &--para {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &--nav {
        display: flex;
        justify-content: center;

        &__list {
            list-style-type: none;
            display: flex;
            padding: 0;
        }

        &__list-item {
            margin: 0px 15px;
            float: left;
        }
    }
}
