.footer--nav__list-item, .project__footer .project-code-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border-radius: 30%;
  height: 50px;
  width: 60px;
}

.footer--nav__list-item:hover, .project__footer .project-code-btn:hover {
  font-weight: bolder;
  background-color: white;
  box-shadow: 3px 3px #96897b;
}

.footer--nav__list-item:focus-within, .project__footer .project-code-btn:focus-within {
  border: 1px solid #96897b;
  box-shadow: 2px 2px inset #96897b;
}

* {
  font-family: "PT Mono", monospace;
}

.nav-bar {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.nav-bar__logo {
  display: flex;
}
.nav-bar__logo h1 {
  padding: 0px 20px 0px 20px;
}
.nav-bar__list {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
}
.nav-bar__menu-item {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px 3px;
  margin: 5px 30px 15px 0px;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-bar__menu-item:hover {
  letter-spacing: 5px;
}

.section {
  padding: 100px 25px;
  height: auto;
  margin: auto;
}
.section__title {
  font-weight: bold;
  text-align: center;
}

.landing {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  text-align: center;
}

.about-me__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-me__img {
  margin: 30px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.about-me__text {
  margin: 0px 10px;
  max-width: 600px;
  line-height: 15pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-stack .tech-gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.tech-stack .tech-gallery .tech-item {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
}
.tech-stack .tech-gallery .tech-item h4 {
  line-height: 5px;
}
.tech-stack .tech-gallery .tech-item__icon {
  margin-right: 15px;
}

.project {
  max-width: max-content;
}
.project .project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project__item {
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  margin: 30px;
  border: 1px solid #96897b;
}
.project__item img {
  display: block;
  margin: auto;
  border: 5px solid white;
}
.project__item:hover {
  background-color: #d0ce7c;
  border: 1px solid #96897b;
  box-shadow: #96897b 5px 5px;
}
.project__text {
  text-align: center;
  margin: 10px;
  line-height: 15pt;
}
.project__footer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.project__footer .icon {
  color: black;
  text-decoration: none;
}

.footer h4 {
  font-size: 25px;
  margin: 0px;
}
.footer--para {
  text-align: center;
}
.footer--nav {
  display: flex;
  justify-content: center;
}
.footer--nav a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.footer--nav a:hover {
  color: white;
}
.footer--nav__list {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.footer--nav__list-item {
  height: 60px;
}
.footer--nav__list-item:hover {
  background-color: #628395;
}
