@use "palette";

// commonly used variables for planning and seeing where and how elements move
$border: 1px solid black;
$border-secondary: 1px solid blue;
$border-tertiary: 1px solid green;

// mixins
@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-justify-align-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

// placeholder-classes
%button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 30%;
    height: 50px;
    width: 60px;
}

%button-style-hover {
    font-weight: bolder;
    background-color: white;
    box-shadow: 3px 3px palette.$midTone;
}

%button-style-focus {
    border: 1px solid palette.$midTone;
    box-shadow: 3px 3px inset palette.$midTone;
}
// css stuff starts here

.nav-bar {
    justify-content: space-between;
    @include flex-wrap;

    &__logo {
        display: flex;

        h1 {
            padding: 0px 20px 0px 20px;
        }
    }

    &__list {
        @include flex-justify-align-center;
        list-style-type: none;
    }

    &__menu-item {
        @include flex-justify-align-center;
        padding: 5px 3px;
        margin: 5px 30px 15px 0px;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    a:hover {
        color: palette.$accentColor;
    }

    &__menu-item:hover {
        letter-spacing: 5px;
    }
}

.section {
    padding: 100px 25px;
    height: auto;
    margin: auto;

    &__title {
        font-weight: bold;
        text-align: center;
    }
}

.landing {
    @include flex-center;
    height: 500px;
    align-items: center;
    text-align: center;
}

.about-me {
    &__content {
        @include flex-center;
        flex-wrap: wrap;
    }

    &__img {
        margin: 30px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    &__text {
        margin: 0px 10px;
        max-width: 600px;
        line-height: 15pt;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.tech-stack {
    .tech-gallery {
        @include flex-justify-align-center;
        flex-wrap: wrap;
        margin-top: 50px;

        .tech-item {
            display: flex;

            margin-top: 30px;
            margin-left: 20px;

            h4 {
                line-height: 5px;
            }

            &__icon {
                margin-right: 15px;
            }
        }
    }
}

.project {
    max-width: max-content;

    .project-content {
        @include flex-wrap;
        justify-content: center;
    }
    &__item {
        width: 300px;
        padding: 50px;
        border-radius: 20px;
        margin: 20px;

        border: 1px solid palette.$midTone;

        img {
            display: block;
            margin: auto;
            border: 5px solid white;
        }
    }

    &__item:hover {
        background-color: palette.$accentColor;
        border: 1px solid palette.$midTone;
        box-shadow: palette.$midTone 5px 5px;
        color: white;
    }

    &__text {
        text-align: center;
        margin: 10px;
        line-height: 15pt;
    }

    &__footer {
        @include flex-justify-align-center;
        margin-bottom: -25px;

        .project-code-btn {
            @extend %button-style;
        }

        .project-code-btn:hover {
            @extend %button-style-hover;
        }

        .project-code-btn:focus-within {
            @extend %button-style-focus;
        }

        .icon {
            color: black;
            text-decoration: none;
        }
    }
}

.footer {
    h4 {
        font-size: 25px;
        margin: 0px;
    }
    &--para {
        text-align: center;
    }

    &--nav {
        @include flex-center;

        a {
            color: black;
            font-size: 20px;
            text-decoration: none;
        }

        a:hover {
            color: white;
        }

        &__list {
            list-style-type: none;
            display: flex;
            padding: 0;
        }

        &__list-item {
            @extend %button-style;

            height: 60px;
        }

        &__list-item:hover {
            @extend %button-style-hover;
            background-color: palette.$accentColor;
        }

        &__list-item:focus-within {
            @extend %button-style-focus;
        }
    }
}
